* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.partenaires {
  width: 1070px;
}

.titre-partenaires {
  margin-top: 3em;
  margin-bottom: 3em;
}

.titre-partenaires {
  color: green;
}

.partner-content {
  width: 800px;
  float: left;
  padding-left: 7em;
}


.col-md-3 {
  margin-right: -2em;
  margin-top: 1em;
}

.part-one {
  padding-bottom: 3em;
  border-bottom: solid 1px gray;
  padding-top: 7em;
}

.part-two {
  padding-bottom: 3em;
  border-bottom: solid 1px gray;
}

.part-three {
  padding-bottom: 3em;
  border-bottom: solid 1px gray;
}

.part-droit {
  float: right;
  width: 250px;
}

aside.part-droit {
  width: 250px;
  margin-top: 5em;
  padding-right: 0;
}

.fa-twitter {
  color: #1E90FF;
}

#follow {
  margin-top: 2em;
  background-color: #1E90FF;
  color: white;
  font-size: 12px;
}

button {
  margin-top: 2em;
  font-size: 12px;
}

.glossaire {
  border: 2px solid gray;
  height: 4em;
  margin-top: 2em;
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: 3em;
}

.glossaire h4 a {
  color: gray;
}

.glossaire:hover {
  background-color: gray;
  color: white;
}

.glossaire h4 a:hover {
  color: white;
  text-decoration: none;
}

#titre-playlist {
  text-align: center;
  padding-top: 2em;
  border-top: 1px solid gray;
}

.playlist {
  background-color: black;
}

.playlist img {
  width: 20%;
  margin-left: 9em;
  margin-top: 2em;
}

.playlist p {
  color: white;
  font-size: 22px;
  text-align: center;
  margin: 0.5em;
}

.playlist ul li {
  list-style-type: none;
  color: white;
}

.playlist ul li img {
margin: 1em;
margin-bottom: 1em;
}

.fa-volume-up {
  margin-left: 1em;
}

.fa-play {
  margin-left: 2em;
}

.fa-minus {
  margin-left: 1em;
  width: 50%;
}

.contact-partenaires {
  margin-top: 4em;
  border-top: 1px solid gray;
}

.contact-partenaires a {
  color: green;
  text-decoration: underline;
}

.code-partenaires {
  margin-top: 4em;
  padding-top: 4em;
  border-top: 1px solid gray;
  padding-bottom: 5em;
}
