.style-sidebar {
    -moz-box-shadow: 1px 1px 5px 0px #D94A64;
    -webkit-box-shadow: 1px 1px 5px 0px #D94A64;
    -o-box-shadow: 1px 1px 5px 0px #D94A64;
    box-shadow: 1px 1px 5px 0px #D94A64;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#D94A64, Direction=134, Strength=5);
    padding: 0 0.5em;
}